:root {
    --Background: #282a36;
    --CurrentLine: #44475a;
    --Foreground: #f8f8f2;
    --Comment: #6272a4;
    --Cyan: #8be9fd;
    --Green: #50fa7b;
    --Orange: #ffb86c;
    --Pink: #ff79c6;
    --Purple: #bd93f9;
    --Red: #ff5555;
    --Yellow: #f1fa8c;
}

body {
    font-family: 'Iosevka Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: var(--Background);
    color: #f8f8f2;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--Cyan);
}

a:hover {
    color: var(--Comment);
}

.miracle-wm-logo {
    color: var(--Foreground);
    text-decoration: none;
    font-size: 2rem;
    transition: color 200ms ease-in-out;
}

header {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--CurrentLine);
    margin-bottom: 1rem;
}

.miracle-wm-logo:hover {
    color: var(--Green);
}

.miracle-wm-header-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.miracle-wm-header-list a {
    color: var(--Foreground);
    text-decoration: none;
    font-size: 1rem;
    transition: color 200ms ease-in-out;
}

.miracle-wm-header-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100vw;
    flex: 1 1 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    width: 60vw;

}

main h2 {
    font-size: 1.25rem;
    color: var(--Purple);
    font-weight: bold;
}

.miracle-video-demo {
    align-self: center;
}

.demos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.h_iframe {
    flex: 1;
    min-width: 300px; /* Adjust this value based on your needs */
    margin: 10px;
}

.h_iframe iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9; /* Maintain 16:9 aspect ratio */
}


/* Phone screen adjustments */
@media only screen and (device-width: 1440px),
only screen and (max-width:1440px) {
    header>h1 {
        font-size: 1.5rem;
    }

    header {
        width: 90vw !important;
    }

    .content-wrapper {
        width: 90vw !important;
    }
}
